block body
    section.first-screen
        .first-screen__container
            .swiper-container.swiper
                .swiper-wrapper
                    - for (var x = 0; x < 3; x++)
                        .swiper-slide
                            h1.first-screen__title This is BodyQ
                .swiper-pagination
                .swiper-button-prev
                .swiper-button-next